USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 12/7/2025 11:29:27 AM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassCode] [nvarchar](50) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[MajorId] [uniqueidentifier] NOT NULL,
	[SpecializationId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamSchedule]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamSchedule](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[Room] [nvarchar](50) NOT NULL,
	[SemesterId] [uniqueidentifier] NOT NULL,
	[ExamDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[Id] [uniqueidentifier] NOT NULL,
	[FacultyName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginThrottle]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginThrottle](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Scope] [nvarchar](32) NOT NULL,
	[KeyHash] [varbinary](32) NOT NULL,
	[WindowStartUtc] [datetime2](7) NOT NULL,
	[Count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[Id] [uniqueidentifier] NOT NULL,
	[MajorName] [nvarchar](100) NOT NULL,
	[FacultyId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roster]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roster](
	[Id] [uniqueidentifier] NOT NULL,
	[EmailSchool] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[IsUsed] [bit] NOT NULL,
	[ExpiresAtUtc] [datetime2](7) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[PrivilegeCode] [nvarchar](50) NULL,
	[Role] [nvarchar](16) NULL,
	[PasswordHash] [nvarchar](200) NULL,
	[CCCD] [nvarchar](12) NULL,
	[Phone164] [nvarchar](20) NULL,
	[ProfileImage] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[TeacherName] [nvarchar](255) NOT NULL,
	[Room] [nvarchar](50) NOT NULL,
	[SemesterId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[Id] [uniqueidentifier] NOT NULL,
	[SemesterCode] [nvarchar](20) NOT NULL,
	[SemesterName] [nvarchar](50) NOT NULL,
	[AcademicYear] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[Id] [uniqueidentifier] NOT NULL,
	[SpecializationName] [nvarchar](100) NOT NULL,
	[MajorId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyResult]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyResult](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[Midterm] [float] NULL,
	[Final] [float] NULL,
	[Other] [float] NULL,
	[FinalNumeric] [float] NULL,
	[LetterGrade] [nvarchar](5) NULL,
	[Passed] [bit] NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectCode] [nvarchar](50) NOT NULL,
	[SubjectName] [nvarchar](255) NOT NULL,
	[Credit] [int] NOT NULL,
	[LectureHours] [int] NOT NULL,
	[PracticeHours] [int] NOT NULL,
	[MajorId] [uniqueidentifier] NOT NULL,
	[SpecializationId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingEvaluation]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingEvaluation](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[SemesterId] [uniqueidentifier] NOT NULL,
	[Score] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[EvaluatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/7/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[EmailSchool] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[CCCD] [nvarchar](20) NULL,
	[Phone164] [nvarchar](15) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[StudentCode] [nvarchar](50) NULL,
	[ClassId] [uniqueidentifier] NULL,
	[MajorId] [uniqueidentifier] NULL,
	[SpecializationId] [uniqueidentifier] NULL,
	[CohortYear] [int] NULL,
	[IsLocked] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[ProfileImage] [varbinary](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Class] ([Id], [ClassCode], [ClassName], [MajorId], [SpecializationId]) VALUES (N'ae80ff29-f34a-4eb6-baa4-037a8e262b0b', N'D18QTANM5', N'D18QTANM5', N'34df0d06-8af2-487c-b99f-250919d30bc1', N'ab7634f3-6b70-4d20-9c68-69a6d8393e51')
INSERT [dbo].[Class] ([Id], [ClassCode], [ClassName], [MajorId], [SpecializationId]) VALUES (N'db235c34-277a-4558-bb84-112d6b7adf7f', N'D18QTANM3', N'D18QTANM3', N'34df0d06-8af2-487c-b99f-250919d30bc1', N'ab7634f3-6b70-4d20-9c68-69a6d8393e51')
INSERT [dbo].[Class] ([Id], [ClassCode], [ClassName], [MajorId], [SpecializationId]) VALUES (N'eb31b83b-bfc5-4c15-94db-3133932f4214', N'D18CNPM4', N'D18CNPM4', N'34df0d06-8af2-487c-b99f-250919d30bc1', N'78a8828d-74af-4fd6-8319-e79126725fd6')
GO
INSERT [dbo].[Faculty] ([Id], [FacultyName]) VALUES (N'218f16e4-de81-4f7d-ba61-354f9ba3b5f4', N'Điện tử viễn thông')
INSERT [dbo].[Faculty] ([Id], [FacultyName]) VALUES (N'126e5263-163e-4269-a7d6-5233b89fb54b', N'Công nghệ thông tin')
INSERT [dbo].[Faculty] ([Id], [FacultyName]) VALUES (N'e9c036bd-dccd-4f80-be05-527afc2a1308', N'Công nghệ thông tin')
GO
SET IDENTITY_INSERT [dbo].[LoginThrottle] ON 

INSERT [dbo].[LoginThrottle] ([Id], [Scope], [KeyHash], [WindowStartUtc], [Count]) VALUES (9, N'password', 0x90FDFC031D43ABCA409027D9BE23A136A1E0A4C667029203139867760540D09E, CAST(N'2025-10-31T15:00:00.0000000' AS DateTime2), 2)
INSERT [dbo].[LoginThrottle] ([Id], [Scope], [KeyHash], [WindowStartUtc], [Count]) VALUES (10, N'password', 0x1B11FE91F853E812B3736FF2FB9ED370AFCFF335D7E599827EB62771ED3A181F, CAST(N'2025-10-31T15:00:00.0000000' AS DateTime2), 2)
INSERT [dbo].[LoginThrottle] ([Id], [Scope], [KeyHash], [WindowStartUtc], [Count]) VALUES (11, N'password', 0xE1436405A489C2993844D634554C293C39563384AAE13DBAEF2CBB00CF70124C, CAST(N'2025-10-31T15:10:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[LoginThrottle] OFF
GO
INSERT [dbo].[Major] ([Id], [MajorName], [FacultyId]) VALUES (N'eed879a0-7549-43ba-b258-11826e931ab3', N'Công nghệ thông tin', N'e9c036bd-dccd-4f80-be05-527afc2a1308')
INSERT [dbo].[Major] ([Id], [MajorName], [FacultyId]) VALUES (N'34df0d06-8af2-487c-b99f-250919d30bc1', N'Công nghệ thông tin', N'126e5263-163e-4269-a7d6-5233b89fb54b')
INSERT [dbo].[Major] ([Id], [MajorName], [FacultyId]) VALUES (N'a252ec7e-08b3-4dce-b725-c5b957b0a2a6', N'Công nghệ thông tin', N'126e5263-163e-4269-a7d6-5233b89fb54b')
GO
INSERT [dbo].[Roster] ([Id], [EmailSchool], [FullName], [Gender], [Address], [IsUsed], [ExpiresAtUtc], [CreatedAtUtc], [PrivilegeCode], [Role], [PasswordHash], [CCCD], [Phone164], [ProfileImage]) VALUES (N'35f98691-3fcb-4bd5-b803-4ff9f7c63bba', N'DoTienNhatMinh238admin002@epu.edu.vn', N'Đỗ Tiến Nhật Minh', N'Nam', N'Hà Nội', 0, NULL, CAST(N'2025-11-21T08:09:59.1066667' AS DateTime2), N'EPUQLV238000DoTienNhatMinh002', N'Admin', N'EPUQLV238000DoTienNhatMinh002DoTienNhatMinh!', N'123456780012', N'+84901230012', NULL)
INSERT [dbo].[Roster] ([Id], [EmailSchool], [FullName], [Gender], [Address], [IsUsed], [ExpiresAtUtc], [CreatedAtUtc], [PrivilegeCode], [Role], [PasswordHash], [CCCD], [Phone164], [ProfileImage]) VALUES (N'774a2996-88d3-4670-9631-8bc8bb121e36', N'DangThiLinh238admin001@epu.edu.vn', N'Đặng Thị Linh', N'Nữ', N'Thái Bình', 0, NULL, CAST(N'2025-11-21T08:09:59.1066667' AS DateTime2), N'EPUQLV238000DangThiLinh001', N'Admin', N'EPUQLV238000DangThiLinh001DangThiLinh!', N'123456780013', N'+84901230013', NULL)
GO
INSERT [dbo].[Specialization] ([Id], [SpecializationName], [MajorId]) VALUES (N'800388d6-654d-4487-8b9e-1adaafc49ff7', N'Thương mại điện tử', N'34df0d06-8af2-487c-b99f-250919d30bc1')
INSERT [dbo].[Specialization] ([Id], [SpecializationName], [MajorId]) VALUES (N'ab7634f3-6b70-4d20-9c68-69a6d8393e51', N'Quản trị an ninh mạng', N'34df0d06-8af2-487c-b99f-250919d30bc1')
INSERT [dbo].[Specialization] ([Id], [SpecializationName], [MajorId]) VALUES (N'78a8828d-74af-4fd6-8319-e79126725fd6', N'CNPM', N'34df0d06-8af2-487c-b99f-250919d30bc1')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Throttle_Scope_Key_Window]    Script Date: 12/7/2025 11:29:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_Throttle_Scope_Key_Window] ON [dbo].[LoginThrottle]
(
	[Scope] ASC,
	[KeyHash] ASC,
	[WindowStartUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Class] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ExamSchedule] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Faculty] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[LoginThrottle] ADD  DEFAULT ((0)) FOR [Count]
GO
ALTER TABLE [dbo].[Major] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Roster] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Roster] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Roster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Semester] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Specialization] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[StudyResult] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Subject] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TrainingEvaluation] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TrainingEvaluation] ADD  DEFAULT (sysutcdatetime()) FOR [EvaluatedAtUtc]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Major] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Major] ([Id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Major]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Specialization] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specialization] ([Id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Specialization]
GO
ALTER TABLE [dbo].[ExamSchedule]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[ExamSchedule] CHECK CONSTRAINT [FK_Exam_Class]
GO
ALTER TABLE [dbo].[ExamSchedule]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Semester] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semester] ([Id])
GO
ALTER TABLE [dbo].[ExamSchedule] CHECK CONSTRAINT [FK_Exam_Semester]
GO
ALTER TABLE [dbo].[ExamSchedule]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[ExamSchedule] CHECK CONSTRAINT [FK_Exam_Subject]
GO
ALTER TABLE [dbo].[Major]  WITH CHECK ADD  CONSTRAINT [FK_Major_Faculty] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Id])
GO
ALTER TABLE [dbo].[Major] CHECK CONSTRAINT [FK_Major_Faculty]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Class]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Semester] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semester] ([Id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Semester]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Subject]
GO
ALTER TABLE [dbo].[Specialization]  WITH CHECK ADD  CONSTRAINT [FK_Specialization_Major] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Major] ([Id])
GO
ALTER TABLE [dbo].[Specialization] CHECK CONSTRAINT [FK_Specialization_Major]
GO
ALTER TABLE [dbo].[StudyResult]  WITH CHECK ADD  CONSTRAINT [FK_Result_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[StudyResult] CHECK CONSTRAINT [FK_Result_Subject]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Major] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Major] ([Id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Major]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Specialization] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specialization] ([Id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Specialization]
GO
ALTER TABLE [dbo].[TrainingEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_Training_Semester] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semester] ([Id])
GO
ALTER TABLE [dbo].[TrainingEvaluation] CHECK CONSTRAINT [FK_Training_Semester]
GO
USE [master]
GO
